/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
body {
  background-color: #2D4059;
  height: 100%;
}

.fleche-retour {
  color: #FFB400;
  font-size: 60px;
  position: absolute;
  top: 40px;
  left: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.meteo {
  height: 640px;
  width: 620px;
  background-color: #fff;
  border: solid;
  border-radius: 12px;
  border-color: #fff;
  border-width: 6px;
  margin-top: 5%;
  -webkit-box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.7);
}

.meteo-top {
  background: center / cover no-repeat url(../images/etoile-bg.jpg);
  height: 200px;
  border-radius: 12px 12px 0 0;
}

.img-nuage-soleil {
  position: relative;
  top: 110px;
  border: solid;
  border-radius: 50%;
  border-color: #2D4059;
  border-top-color: #FFB400;
  border-right-color: #FFB400;
  border-width: 6px;
  width: 140px;
}

.separation {
  background-color: #FFB400;
  height: 6px;
  width: 620px;
}

.meteo-bottom {
  height: 340px;
}

.form-meteo1 {
  margin-top: 130px;
}

.ville-input {
  height: 30px;
  display: block;
  margin: 10px auto;
}

input[type="text"] {
  font-size: 1.5rem;
}

.button {
  min-width: 12rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding: 0.6rem 1rem;
  margin: 2rem;
  border: 4px solid;
  position: relative;
  color: #2D4059;
  border-color: #2D4059;
}

.button:hover {
  color: #fff;
  background-color: #FFB400;
  border-color: #FFB400;
}

/*************************************************** 2 EME PAGE */
.meteo-page2 {
  height: 640px;
  width: 620px;
  background-color: #fff;
  border: solid;
  border-radius: 12px;
  border-color: #fff;
  border-width: 6px;
  -webkit-box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 19px;
  width: 220px;
  border: solid;
  border-color: #2D4059;
  color: #2D4059;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  margin: 23px 0;
}

span {
  color: black;
  font-weight: bold;
}

.icon-meteo {
  position: relative;
  top: 35px;
  margin-right: 5px;
}

.city {
  margin: 40px 0 40px;
  color: #2D4059;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.pays {
  font-size: 25px;
  color: #2D4059;
  font-weight: lighter;
}

.country-flag {
  width: 40px;
  margin-left: 40px;
}

.second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display-donnees {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.separation-verticale {
  height: 95px;
  width: 4px;
  background-color: #FFB400;
  margin: 20px;
}

.separation-smartphone {
  height: 0;
  width: 0;
}

.button-retour {
  min-width: 6rem;
  border: none;
  background: none;
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding: 0.6rem 0.1rem;
  margin: 2rem;
  border: 4px solid;
  position: relative;
  color: #FFB400;
  border-color: #FFB400;
}

.button-retour:hover {
  color: #fff;
  background-color: #FFB400;
  border-color: #FFB400;
}

/* PAGE ERREUR */
.container-erreur {
  margin: 120px 0 0 250px;
}

.titre-erreur {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.description-plus-img {
  display: flex;
  flex-direction: row;
}

.description-erreur {
  font-family: 'Montserrat', sans-serif;
  width: 400px;
}

.img-erreur {
  width: 150px;
  margin-left: 450px;
}

/* RESPONSIVE */
@media (max-width: 1028px) {
  .meteo {
    width: 940px;
    height: 1200px;
    margin: 7% 0;
    border-width: 14px;
  }

  .meteo-top {
    height: 350px;
  }

  .img-nuage-soleil {
    top: 180px;
    width: 260px;
    border-width: 12px;
  }

  .separation {
    height: 12px;
    width: 940px;
  }

  .meteo-bottom {
    padding-top: 150px;
  }

  .form-meteo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ville-input {
    height: 100px;
    margin-top: 50px;
  }

  input[type="text"] {
    font-size: 50px;
  }

  .button {
    min-width: 15rem;
    font-size: 2.8rem;
    padding: 1.4rem 1rem;
    margin: 4rem;
  }

  /******************************************************* 2eme PAGE */
  .meteo-page2 {
    width: 940px;
    height: 1200px;
    margin: 5% 0;
    border-width: 14px;
  }

  h2 {
    font-size: 40px;
    width: 510px;
    padding: 12px;
  }

  .city {
    font-size: 65px;
    margin-bottom: 40px;
  }

  .pays {
    font-size: 50px;
  }

  .country-flag {
    width: 70px;
  }

  .icon-meteo {
    top: 65px;
    width: 190px;
  }

  .second {
    flex-direction: row;
  }

  .meteo-bottom-resultats {
    padding-top: 0;
  }

  .display-donnees {
    display: flex;
    flex-direction: column;
  }

  .donnees-top, .donnees-bottom {
    margin: 0 0 40px;
  }

  .donnees-bottom-last {
    margin-bottom: 0;
  }

  .separation-verticale {
    height: 0px;
    width: 0px;
    margin: 0px;
  }

  .separation-smartphone {
    background-color: #FFB400;
    height: 380px;
    width: 12px;
    position: relative;
    left: -50px;
  }

  .button-retour {
    min-width: 10rem;
    font-size: 2.5rem;
    padding: 0.8rem 0.8rem;
    margin: 2rem 0 0 2rem;
    border: 4px solid;
  }

  /* PAGE ERREUR */
  .container-erreur {
    margin: 50px 0 0 100px;
  }

  .titre-erreur {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  .img-erreur {
    margin-left: 250px;
  }
}
